# This workflow will upload a Python Package using Twine when a release is created.
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries
name: Upload Python Package

on:
  push:

permissions:
  id-token: write

jobs:
  build-n-publish:
    runs-on: ubuntu-latest
    environment: development

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.x'
    - name: Install pypa/build
      run: |
        python3 -m pip install build --user
    - name: Build
      run: |
        python3 -m build --sdist --wheel --outdir dist/ .
    - name: Publish
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        password: ${{ secrets.PYPI_PASSWORD }}
        verbose: true